@import "tailwindcss";

@theme {
  --font-cairo: var(--font-cairo), sans-serif;
  --color-brand-maroon: #801c27;
  --color-brand-maroon-hover: #962632;
  --color-brand-bronze: #c98a68;
  --color-brand-cream: #f7f4eb;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    background-color: #0d0b0a; /* Deep warm dark charcoal */
    background-image: radial-gradient(circle at 50% 0%, #1c1512 0%, #0d0b0a 100%);
    background-attachment: fixed;
  }
}
